@charset "UTF-8";


body {
    background-color: rgb(39, 38, 38);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 50px 50px 1px;
    border-radius: 20px 20px 20px;
    margin: 100px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}

p {
    font-size: large;
    text-align: center;
}

img {
    padding: 50px 250px 1px;
}


li {
    list-style: none;
    padding: 0px 40px 1px;
    color: black;
}